*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* Custom classes for colors */
.bg-blue { background-color: #fcfdfd; }
.bg-red { background-color: #03152c; }
.bg-gray { background-color: #25282c; }
.text-blue { color: #3490dc; }
.text-red { color: #e3342f; }
.text-gray { color: #2b2e34; }

/* Custom logo styles */
.logo {
  height: 50px; /* Adjust as needed */
  width: auto; /* Adjust as needed */
}

.menu-bars {
  position: absolute;
  top: 10px;
  right: 10px;
  justify-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #081226;
  margin: 5px 0;
  transition: transform 0.4s ease;
}

@media (max-width: 768px) {
  .menu-bars {
    display: block;
    z-index: 10000;
  }
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.fade-in-up {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 1s ease, transform 1s ease;
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  -o-transform: translateX(-30px);
}

.fade-in-up.show {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

h1 {
  font-size: 56px;
  color: #fcfdfd;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  width: 100%;
  background: #fcfdfd;
  text-align: center;
  padding-inline: auto;
  padding-block: 30px;
  color: #1d1f21;
  font-size: 32px;
}

.logo {
  width: 200px;
  height: auto;
  margin-left: 40px;
}

@media (max-width: 768px) {
  .menu-items {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(8, 21, 41, 0.75);
    backdrop-filter: blur(5px);
    -o-transform: translateY(-100%);
    -o-transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: 1000;
  }

  .menu-items.render {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  h1 {
    font-size: 36px;
  }

  nav {
    align-items: center;
  }

  .menu-item {
    font-size: 22px;
    font-weight: 600;
    color: rgb(236, 39, 39);
  }

  h2 {
    font-size: 24px;
  }
}

.carousel-item {
  height: 85vh; /* Adjust the height as needed */
  background-size: cover;
  background-position: center;
}

.carousel-item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.item {
  background-image: url('./assets/Hazard-ION-04292021.webp');
  background-position: top;
}

.carousel-item strong {
  color: #cd2f2a;
}

.carousel-item h2 {
  background: none;
  color: #fcfdfd;
}

.item-0 {
  background-image: url('./assets/nuclear.jpg');
}

.item-1 {
  background-image: url('./assets/close-up-delivery-person-giving-parcel-client.jpg');
}

.item-2 {
  background-image: url('./assets/outsourcing.jpg');
}

.item-3 {
  background-image: url('./assets/trucking-company.webp');
}

.carousel-item div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(4, 12, 24, 0.75);
  padding-top: -30px;
}

.carousel-item div p {
  color: #fcfdfd;
  font-size: 24px;
  max-width: 900px;
  text-align: center;
}

.font-size-medium {
  font-size: 24px;
}

.about-us {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #fcfdfd;
  padding-block: 100px;
  padding-inline: 5%;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 44px;
  }

  .carousel-item div p {
    font-size: 20px;
    margin-inline: 10%;
  }
}

.values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block: 60px;
  margin-inline: auto;
  max-width: 900px;
}

.value {
  margin-right: 40px;
  border-left: 3px solid #e3342f;
  padding-left: 30px;
}

.value h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

.value strong {
  color: #04244f;
}

.more-details {
  margin-inline: auto;
  margin-top: 20px;
  text-align: center;
  max-width: 1200px;
  padding-inline: 5%;
}

.more-details h2 {
  font-size: 32px;
  color: #1e2023;
  margin-bottom: 20px;
}

.more-details p {
  font-size: 17px;
}

.more-details strong {
  color: #e3342f;
}

@media (max-width: 950px) {
  .values {
    flex-direction: column;
    gap: 30px
  }

  .more-details h2 {
    font-size: 24px;
  }

  .more-details p {
    font-size: 16px;
  }
}

.products {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #fcfdfd;
  padding-inline: 15%;
  padding-bottom: 50px;
}

.products img {
  width: 250px;
  margin-inline: 10px;
  margin-block: 20px;
}

.products span {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  color: #30373d;
}

.partner {
  background: #fcfdfd;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-block: 80px;
  padding-inline: 5%;
}

.partner p {
  font-size: 32px;
  color: #03152c;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 20px;
}

.partner img {
  width: 450px;
}

.iframe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60vh;
  color: #c6c8cb;
}

.iframe.cape-town {
  flex-direction: row;
}

.iframe.joburg {
  flex-direction: row-reverse;
}

.iframe .contact-details {
  padding: 0 5%;
}

.contact-details>div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 25px;
  margin-bottom: 25px;
}

.cape-town .contact-details {
  margin-left: 100px;
}

.joburg .contact-details {
  margin-right: 150px;
}

.contact-details h4 {
  font-size: 18px;
  margin-bottom: 8px;
}

.contact-details p {
  color: #8b8e91;
  max-width: 350px;
}

.iframe.cape-town .contact-details i {
  font-size: 22px;
  color: #955350;
}

.iframe.joburg .contact-details i {
  font-size: 22px;
  color: #2d4c76;
}

.iframe iframe {
  height: 100%;
  width: 50%;
}

footer {
  position: relative;
  background: #1a1e23;
  color: #8b8e91;
  padding: 10px 5%;
  bottom: 0;
  left: 0;
}

@media (max-width: 1250px) {
  .products {
    padding-inline: 5%;
  }

  .iframe.cape-town{
    margin-top: 70px;
  }

  .iframe.cape-town,
  .iframe.joburg {
    flex-direction: column;
  }

  .iframe {
    margin-bottom: -80px;
  }

  .iframe iframe {
    display: none;
    position: absolute;
  }

  .cape-town .contact-details,
  .joburg .contact-details {
    margin: 0;
  }

}
