*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* Custom classes for colors */
.bg-blue { background-color: #fcfdfd; }
.bg-red { background-color: #03152c; }
.bg-gray { background-color: #25282c; }
.text-blue { color: #3490dc; }
.text-red { color: #e3342f; }
.text-gray { color: #2b2e34; }

body {
  overflow-x: hidden;
}

.sr-only {
  position: absolute;
  display: none;
  visibility: hidden;
}

.menu-bars {
  position: absolute;
  top: 10px;
  right: 10px;
  justify-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #081226;
  margin: 5px 0;
  transition: transform 0.4s ease;
}

@media (max-width: 768px) {
  .menu-bars {
    display: block;
    z-index: 10000;
  }
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.fade-in-up {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 1s ease, transform 1s ease;
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  -o-transform: translateX(-30px);
}

.fade-in-up.show {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

h1 {
  font-size: 20px;
  color: #fcfdfd;
  text-align: start;
}

h2 {
  width: 100%;
  background: #fcfdfd;
  text-align: center;
  padding-inline: auto;
  padding-block: 30px;
  color: #1d1f21;
  font-size: 32px;
}

.logo {
  width: 190px;
  height: auto;
  margin-block: 15px;
  margin-inline: 10%;
}

nav {
  background: linear-gradient(to right, rgb(41, 26, 26), rgb(122, 60, 59), rgb(239, 53, 53));
  padding-inline: 5%;
}

nav span p {
  font-size: 12px;
  color: #fff;
}

.header-item > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(41, 26, 26), rgb(122, 60, 59), rgb(239, 53, 53));
  padding-block: 80px 0;
  z-index: 100;
}

.menu-items {
  display: flex;
  flex-direction: row;
  width: 50%;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5), transparent);
  padding-block: 15px;
  padding-left: 8%;
  padding-right: 10%;
  justify-content: flex-end;
  margin-right: -50px;
}

.menu-items li {
  margin-right: 50px;
}

.menu-item {
  color: #f4f4f5;
  font-size: 15px;
}

@media (max-width: 768px) {
  .menu-items {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(23, 23, 24, 0.75);
    backdrop-filter: blur(5px);
    -o-transform: translateY(-100%);
    -o-transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: 1000;
  }

  .menu-items.render {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  h1 {
    font-size: 36px;
  }

  nav {
    align-items: center;
  }

  .menu-item {
    font-size: 22px;
    font-weight: 600;
    color: rgb(233, 236, 242);
  }

  h2 {
    font-size: 24px;
  }
}

.header-item {
  height: 58vh;
}

.header-item strong {
  color: #ba5351;
}

.header-item > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  gap: 10px
}

.header-item div p {
  color: #fcfdfd;
  font-size: 24px;
  max-width: 900px;
}

.hazard,
.supply {
  height: 19rem;
  width: 40rem;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.hazard {
  background-image: url(assets/coronavirus-vaccine-composition-lab.jpg);
}

.supply {
  background-image: url(assets/view-nuclear-power-plant-with-towers-letting-out-steam-from-process\ \(1\).jpg);
}

.hazard p,
.supply p {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -o-border-radius: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  padding-inline: 5px;
}

.font-size-medium {
  font-size: 24px;
}

.about-us {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #fcfdfd;
  padding-block: 50px;
  padding-inline: 5%;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 36px;
  }

  .header-item div p {
    font-size: 20px;
  }

  .hazard,
  .supply {
    width: 30rem;
  }
}

@media (max-width: 790px) {
  .header-item > div {
    justify-content: center;
  }

  .header-item > div > div {
  }

  .hazard,
  .supply {
    height: 20rem;
    margin-top: 30px;
  }

  .hazard p,
  .supply p {
    font-weight: 600;
  }
}

main {
  background: #fcfdfd;
}

.swiper-container {
  width: 120%;
  padding: 20px;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  text-align: center;
  margin-inline: 20px;
}

img {
  width: 100px;
  height: auto;
}

.more-details {
  margin-inline: auto;
  margin-top: 20px;
  text-align: center;
  max-width: 1200px;
  padding-inline: 5%;
}

.more-details h2 {
  font-size: 32px;
  color: #1e2023;
  margin-bottom: 20px;
}

.more-details p {
  margin-top: 30px;
  font-size: 16px;
}

.more-details strong {
  color: #99332f;
}

@media (max-width: 950px) {
  .swiper-container {
    padding-top: 90px;
  }
  .swiper-slide {
    width: 200px;
    margin-inline: 0;
  }

  .values {
    flex-direction: column;
    gap: 30px
  }

  .more-details h2 {
    font-size: 24px;
  }

  .more-details p {
    font-size: 16px;
  }
}

.products {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #fcfdfd;
  padding-inline: 15%;
  padding-bottom: 50px;
}
.products div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-block: 20px;
  margin-inline: 10px;
  border: 1.5px solid #61656a;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 275px;
  height: 300px;
}

.products img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.products p {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  color: #30373d;
  background: #f4f4f5;
  width: 100%;
  padding: 15px auto;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
}

.partner {
  background: #fcfdfd;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-block: 20px 80px;
  padding-inline: 5%;
}

.partner-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.partner p {
  font-size: 32px;
  color: #03152c;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 20px;
}

.partner img {
  width: 250px;
}

section.address {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  padding: 50px 5%;
  color: #c6c8cb;
}

section.address h2 {
  font-weight: bold;
}

section.address div img {
  width: 200px;
  height: auto;
}

.contact-details>div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 25px;
  margin-bottom: 25px;
}

.contact-details h4 {
  font-size: 18px;
  margin-bottom: 8px;
  width: fit-content;
}

.contact-details p {
  color: #8b8e91;
  max-width: 450px;
}

.cape-town .contact-details i {
  font-size: 22px;
  color: #955350;
}

.footer-p {
  color: #c1c3c6;
  font-size: 14px;
  width: 50%;
}

.footer-p p {
  margin-top: 20px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: #1a1e23;
  color: #8b8e91;
  padding: 10px 5%;
  bottom: 0;
  left: 0;
}

@media (max-width: 1250px) {
  section.address {
    flex-direction: column;
  }
}

/* Services */

.supplys {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-inline: 5%;
  padding-block: 100px 40px;
  background: #fff;
  justify-content: space-evenly;
  gap: 10%;
}

.supplys div {
  background: #2d3237;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  padding: 40px;
  color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.supplys div h2 {
  background: transparent;
  color: #fff;
}

.supplys div p {
  max-width: 450px;
  text-align: center;
}

.nuclear-supply {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  padding-top: 40px;
  width: 100%;
  height: 70vh;
}

.nuclear-supply img,
.nuclear-transport img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.nuclear-supply div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 30px;
  background: rgba(245, 245, 255, 0.75);
  padding-block: 50px;
  padding-inline: 40px;
  width: 50%;
  font-size: 15px;
  color: #2f2f30;
}

.nuclear-supply div ul li {
  margin-bottom: 10px;
  list-style:inside ;
}

.nuclear-transport {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background: #ebeef1;
  width: 100%;
  color: #25282c;
  padding-block: 40px;
}

.nuclear-transport h2 {
  font-weight: 900;
  font-size: 28px;
  color: #3f4245;
  background: transparent;
}

.nuclear-transport div {
  padding: 0 20px;
}

.nuclear-transport div div {
  padding-block: 20px;
  padding-inline: 10%;
  width: 100%;
}

.nuclear-transport div div h3 {
  margin-bottom: 10px;
  font-size: 17px;
  color: #3f4244;
}

@media (max-width: 850px) {
  .nuclear-supply {
    flex-direction: column;
  }

  .nuclear-transport {
    flex-direction: column;
    padding-inline: 5%;
  }
}